.App {
  text-align: center;
}

.Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}



.small {
  font-size: 0.75rem;
}

.parte-superior {
  background-image: url("/workspaces/codespaces-react/public/item1.png");
  height: 350px;
  border-bottom: 3px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.titulo-principal {
  text-align: center;
  margin-top: 50px;
  font-size: 80px;
  list-style-type: none;
}

.sub-titulo {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}

.texto-informativo {
  text-align: left;
  margin-left: 20px;
}
